<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Docker Demo | Add Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
    <link rel="icon" type="image/png" th:href="@{images/faveicon.ico}">

</head>
<body>
<div th:insert="navbar.html :: nav"></div>
<main class="container">
    <div class="row">
        <div class="col-lg-10 my-5">
            <h1>Add Product</h1>
        </div>
        <div class="col-lg-10 my-2">
            <form action="#" th:action="@{/products/add}" method="post" th:object="${product}">
                <div class="form-group mt-3">
                    <label for="productName">Name</label>
                    <input class="form-control mt-2" id="productName" placeholder="Enter name" maxlength="20" th:field="*{name}" autocomplete="off">
                </div>
                <div class="form-group mt-3">
                    <label for="productDesc">Description</label>
                    <input class="form-control mt-2" id="productDesc" placeholder="Enter Description" maxlength="40" th:field="*{description}" autocomplete="off">
                </div>
                <div class="form-group mt-3">
                    <label for="productBrand">Brand</label>
                    <input class="form-control mt-2" id="productBrand" placeholder="Enter Brand" maxlength="20" th:field="*{brand}" autocomplete="off">
                </div>
                <div class="form-group mt-3">
                    <label for="productPrice">Price</label>
                    <input type="number" class="form-control mt-2" id="productPrice" placeholder="Enter Price" th:field="*{price}" autocomplete="off">
                </div>
                <div class="form-group mt-3">
                    <label for="productUnits">Units</label>
                    <input type="number" class="form-control mt-2" id="productUnits" placeholder="Enter Units" th:field="*{units}" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</main>
<div th:insert="footer.html :: footer"></div>
</body>
</html>